html {
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
body {
	background: none repeat scroll 0 0 #F7f7f7;
	color: #363636;
	font-family: Arial;
	font-size: 12px;
	margin: 0;
	padding: 0;
}
#calendar{
	border: 1px solid #CDCDCD;
	background: #fff;
	clear: both;
	float: left;
	margin: 0 0 20px;
	width: 100%;
}
.title_bar{
	margin: 0;
	padding: 0;
	float: left;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 19%, #ededed 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(19%, #ffffff), color-stop(100%, #ededed)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 19%, #ededed 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 19%, #ededed 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 19%, #ededed 100%); /* IE10+ */
	background: linear-gradient(top, #ffffff 19%, #ededed 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed', GradientType=0 );/*  IE6-9 */
	width: 100%;
	height: 40px;
	border-bottom: 0px solid #cccccc;
	position: relative;
}
#calendar_event{
	background: url("images/inner-shadow.png") repeat-x scroll 0 0 #FFFFFF;
	border-top: 1px solid #CECECE;
	min-height: 50px;
	float: left;
	padding: 10px;
}
.event_day{
	background: none repeat scroll 0 0 #FDFDFD;
	border: 1px solid #DDDDDD;
	box-shadow: 0 0 15px #F5F5F5 inset;
	float: left;
	min-height: 107px;
	text-align: center;
	width: 135px;
}
.event_heading{
	background-color: #F5F5F5;
	background-image: url("images/inner-shadow.png");
	border-color: #A7A4A4 #A7A4A4 #CCCCCC;
	border-style: solid;
	border-width: 4px;
	color: #1C1C1C;
	padding: 15px 0;
	text-shadow: 1px 1px 1px #FFFFFF;
	vertical-align: top;
	border: none;
	text-transform: uppercase;
}
.event_number{
	color: #2B2B2B;
	font: bold 52px Arial;
	height: 78px;
}
span.event{
	-moz-transition: background-color 0.2s ease-out 0s;
	background-color: #DBF262;
	border: 2px solid !important;
	box-shadow: 1px 1px 2px #DDDDDD;
	cursor: default;
	font-size: 0.9em;
	opacity: 0.7;
	padding: 4px 4px 4px 5px;
	border-color: #C2D753 !important;
	color: #111111;
	border-width: 1px 0;
	margin-bottom: 1px;
	margin-left: -25px;
	margin-top: 54px;
	position: absolute;
	z-index: 1000;
}
.previous{
   float: left;
	height: 1.9em;
	line-height: 1.9em;
	margin-top: 11px;
	margin-left: 12px;
	padding: 0 0.6em 0 23px;	
	position: relative;
	white-space: nowrap;
	color: #CCCCCC;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	background-image: url("images/back.png");
	background-position: left center;
	background-repeat: no-repeat;
}
.next{
   float: right;
	height: 1.9em;
	line-height: 1.9em;
	margin-right: 12px;
	margin-top: 11px;
	padding: 0 23px 0 0.6em;
	position: relative;
	white-space: nowrap;
	color: #CCCCCC;
	font-family: Arial,Helvetica,sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	background-image: url("images/forward.png");
	background-position: right center;
	background-repeat: no-repeat;
}
.clear{
	clear: both;
}
.sub_head h2{
	border: medium none;
	color: #333333;
	font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
	font-size: 36px;
	font-weight: normal;
	margin-top: 8px;
	text-transform: capitalize;
	white-space: nowrap;
	padding-left: 29px;
}
#mainWrapper{
	width: 980px;
	margin: auto;
	padding-top: 40px;
	min-height: 550px;
}
.today{
	background: none repeat scroll 0 0 #EBF9A3 !important;
	box-shadow: 0 0 25px #CFE554 inset !important;
	-moz-box-shadow: 0 0 25px #CFE554 inset !important;
	-webkit-box-shadow: 0 0 25px #CFE554 inset !important;
	opacity: 0.7;
}
.next_month{
	opacity: 0.4;
}
.event_wrapper{

}
#event_row{

}
#event_row h2{
	background: none repeat scroll 0 0 #F7F7F7;
	color: #333333;
	font-size: 12px;
	font-weight: lighter;
	margin-bottom: 0;
	margin-top: 10px;
	padding: 13px;
}
#event_row h2 small{
	color: #555555;
	float: left;
	font-weight: bold;
	font-size: 12px;
	margin-right: 8px;
	text-transform: uppercase;
	width: 45px;
}
#event_row h4{
	padding-left: 4px;
	font-size: 18px;
}
#event_row .content{
	background: none repeat scroll 0 0 #F7F7F7;
	color: #333333;
	font-size: 12px;
	padding: 13px;
	margin-top: 10px;
}
#event_row .content small{
	color: #555555;
	font-size: 12px;
	margin-bottom: 8px;
	font-weight: bold;
	text-transform: uppercase;
	display: block;
}
#event_row_last{
	font-size: 25px;
	text-align: center;
	margin-bottom: 20px;
	margin-top: 10px;
}
#blank{
	color: #CCCCCC;
	font-size: 48px;
	font-weight: bold;
	padding-top: 145px;
	text-align: center;
}
#footer{
	background-color: #212121;
	bottom: 0;
	height: 35px;
	left: 0;
	line-height: 35px;
	text-align: center;
	width: 100%;
	color: #FFFFFF;
	font-size: 10px;
}
.copyright {
	color: #CCCCCC;
	font-size: 10px;
	text-align: center;
}

/* admin module styles */

#login_box{
	background-color: #F4F4F4;
	border: 5px solid #F4F4F4;
	border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px 15px 15px 15px;
	-webkit-border-radius: 15px 15px 15px 15px;
	padding: 0;
	width: 420px;
	margin: auto;
}
#form_wrapper{
	width: 420px;
	margin: auto;
}
#login_box_inner{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	min-height: 230px;
	overflow: hidden;
}
#login_box .form{
	margin: auto;
	padding: 20px 20px 20px;
	position: relative;
	width: 320px;
}
#login_box #username_id, #login_box #password{
	background-position: 2px 3px;
	background-repeat: no-repeat;
	color: #666666;
	font-family: "Myriad Pro",Arial,Helvetica,sans-serif;
	font-size: 20px;
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	padding-left: 35px;
	width: 275px;
}
input[type="text"], input[type="password"], textarea, body .cleditorMain{
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	transition: all 0.4s ease 0s;
	background-position: 5px 5px;
	border: 1px solid #DDDDDD;
	box-shadow: 1px 1px 2px #F5F5F5;
	-webkit-box-shadow: 1px 1px 2px #F5F5F5;
	-moz-box-shadow: 1px 1px 2px #F5F5F5;
	height: 28px;
	line-height: 28px;
	outline: 0 none;
	padding: 0 7px;
}
body .cleditorMain{
	padding: 0 1px 1px;
}
body .cleditorToolbar{
	background: #f7f7f7;
	border-bottom: 1px solid #ccc;
}
#login_box #username_id {
	background-image: url("images/user_.png");
}
#login_box #password {
	background-image: url("images/pass_.png");
}
.uibutton {
	position: relative;
	z-index: 1;
	overflow: visible;
	display: inline-block;
	padding: 5px 12px 6px 12px;
	margin: 0;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	outline: none;
	border: 1px solid #69a44d;
	text-shadow:0 1px 0 #000000;
	color: #ffffff;
	background-position:0 -1px;
	background-color:#9bc652;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-transition: all .2s ease-out;
	-moz-transition:all.2s ease-out;
	-o-transition: all .2s ease-out;
	transition: all.2s ease-out;
	font-weight: bold;
	font-size: 11px;
	text-transform: capitalize;
	margin-top: -1px;
}
.uibutton:hover, .uibutton:focus, .uibutton:active {
	background-image: url(images/ui-lgreen.jpg);
	background-position:0 59px;
	color: #ffffff;
	text-shadow:0 1px 0 #000000;
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
}
.uibutton.special {
	background-color: #D74543;
	border-color: #A93A25;
	color: #FFFFFF;
	text-shadow: 0 1px 0 #000000;
}
.uibutton:active {
/*	border-color: #5b7217;
	background: #b4cf1f;*/
	color: #ffffff;
	filter: none;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
	-webkit-box-shadow: rgba(0, 0, 0, 0.35) 1px 1px 1px;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 5px #9cb611;
	cursor:pointer;
}
.uibutton.add:before {
	background-position: -14px -1px;
}
.uibutton.icon:before {
	background: url("images/fb-icons.png") no-repeat scroll 99px 99px transparent;
	content: "";
	float: left;
	height: 12px;
	margin: 0 5px 0 0;
	position: relative;
	top: 2px;
	width: 14px;
}
/* overrides extra padding on button elements in Firefox */
.uibutton::-moz-focus-inner {
 padding: 0;
 border: 0;
}
.uibutton.normal {
	color: #333;
	background-color: #f4f4f4;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#f4f4f4));
	background-image: -moz-linear-gradient(#f4f4f4, #f4f4f4);
	background-image: -o-linear-gradient(#f4f4f4, #f4f4f4);
 filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f4f4f4', EndColorStr='#f4f4f4'); /* for IE 6 - 9 */
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #f2f2f2;
	text-shadow:none;
	border: 1px solid #aaaaaa;
	border-bottom-color: #aaaaaa;
	margin: 0;
}
.uibutton.normal:hover {
	color: #666;
	background-color: #999;
	-webkit-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
	-moz-box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
	box-shadow: 0 0px 0 rgba(0, 0, 0, 0.1), inset 0 1px 0 #eeeeee;
	text-shadow:none;
}
.uibutton.normal:active {
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1), inset 1px 1px 8px #cccccc;
}
.logo{
	text-align: center;
	padding-top: 20px;
}
#alertMessage {
	background-color: #C2E3F0;
	background-image: url("images/info.png");
	background-position: 10px center;
	background-repeat: no-repeat;
	bottom: 25px;
	color: #34667A;
	cursor: pointer;
	font-family: 'Myriad Pro',Arial,Helvetica,sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding: 15px 25px 15px 45px;
	text-align: center;
	text-shadow: 1px 1px 1px #C8EBFB;
	text-transform: uppercase;
	width: auto;
	z-index: 100001;
	margin-bottom: 22px;
}
#alertMessage.error,.alertMessage.error {
	background-color: #FC4A48;
	background-image: url("images/error.png");
	border: 1px solid #A93A25;
	color: #AB0909;
	text-shadow: 1px 1px 1px #E64040;
}
#alertMessage.success, .alertMessage.success {
	background-color: #9BC652;
	background-image: url("images/checkmark2.png");
	border: 1px solid #69A44D;
	color: #324E03;
	text-shadow: 1px 1px 1px #5C9201;
}
.create_one{
	float: right;
	margin-right: 10px;
	margin-top: 7px;
}
.uibutton.add:before {
	background-position: -14px -1px;
}
.list_wrapper{
	background: url("images/inner-shadow.png") repeat-x scroll 0 0 #FFFFFF;
	border-top: 1px solid #CECECE;
	padding: 15px;
}
table.display thead {
	text-shadow: 1px 1px 1px #FFFFFF;
}
table.display {
	border-collapse: collapse;
	text-align: center;
}
table.display {
	border-collapse: collapse;
	border-top: 1px solid #C9C9C9;
	box-shadow: 0 0 4px #EFEFEF;
	margin: 10px auto !important;
	padding: 0;
	text-align: center;
	width: 100%;
}
table.display thead {
	background-color: #F2F2F2;
	background-image: url("images/inner-shadow.png");
	background-position: left top;
	background-repeat: repeat-x;
	text-shadow: 1px 1px 1px #FFFFFF;
}
table.display thead tr th{
	border-bottom: 1px solid #E6E6E6;
	border-top: 0 solid #D6D6D6;
	line-height: 25px;
	padding: 8px 10px;
	color: #1C1C1C;
	text-align: left;
}
table.display tbody tr, table.display tbody tr {
	-moz-transition: background-color 0.2s ease-out 0s;
}
table.display tbody td {
	border-bottom: 1px solid #E6E6E6;
	border-left: medium none;
	border-right: medium none;
	padding: 15px 10px !important;
	text-align: left;
}
form div.section {
	border-bottom: 1px solid #EFEFEF;
	border-top: medium none;
	padding: 0 0 13px;
}
form div.section:first-child{
	border-top: medium none;
}
form div.section > label {
	color: #404040;
	float: left;
	font-size: 11px;
	font-weight: bold;
	margin-right: 5%;
	margin-top: 2px;
	padding: 11px 0 0;
	text-transform: uppercase;
	width: 30%;
}
form div.section > div {
	color: #404040;
	font-size: 11px;
	margin-left: 35%;
	padding: 13px 0 0;
	position: relative;
}
form input.full, form textarea.full {
	max-width: 95%;
	width: 95%;
}
.ui_tpicker_hour_label, .ui_tpicker_minute_label, .ui_tpicker_time_label{
	float: left;
	clear: both;
}
.ui_tpicker_hour, .ui_tpicker_minute, .ui_tpicker_time{
	margin-bottom: 15px;
}
.logout{
	float: right;
	margin-left: 13px;
	margin-top: -3px;
}